/* 
    Dự án: Thảo thiện Garden
    Ngày tạo: 03/07/2022
    Người tạo: Vũ Xuân Phát, Lưu Minh Tiến
    Version: 1.0 
*/

/*
=============================================
                ROOT VARIALBES
=============================================
*/
:root {
    --color-primary: #F85959;

    --color-white: #fff;
    --color-black: #000;
    --color-text: #4d4d4d;
    --color-text-1: #171818;
    --color-bg-1: #fff;
    --color-bg-2: #f8faff;
    --color-bg-footer: #151421;
    --color-btn-form: #fff;

    --color-horizontal: rgba(0, 0, 0, .1);
    --color-prize: #2f89fc;
    --color-overlay: #2ebdc4;
    --color-green: #8FC43E;
    --color-green-blue: #3BA146;
    --color-black-1: #171818;
    --color-heading: #303233;

    --bg-light: #f8faff;
    --bg-footer: #212831;

    /* ANIMATE CSS */
    --animate-delay: 0.5s;
}

[data-theme="dark"] {
    --color-para-font: #666;

    --color-heading: #3f3a64;
    --color-heading-1: #3f3a64;
    --color-btn-form: #212831;
    --color-border-2: #eee;

    --color-bg-1: #151421;
    --color-bg-2: #100f19;
    --color-horizontal: rgba(255, 255, 255, 0.1);

    --color-text-1: #fff;

    --layer: rgba(29, 42, 55, 0.8);
}

/*
=============================================
                    GLOBAL
=============================================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
    line-height: 1.8;

    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

a:hover {
    text-decoration: none;
    color: var(--color-black);
}

.heading {
    font-size: 30px;
    font-weight: 300;
    color: var(--color-text-1);
    line-height: 1.5;
}

.heading strong {
    font-weight: 700;
}

.subheading {
    font-size: 14px;
    color: var(--color-text-1);

    display: block;
    margin-bottom: 10px;
}

.heading-section {
    font-size: 30px;
    font-weight: 400;
    color: var(--color-text-1);
}

.inner-section {
    padding: 3em 0;
}

.readmore__icon {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-30px, -30px);

    opacity: 0;
    transition: all .3s;
}

.readmore__icon i {
    width: 60px;
    height: 60px;
    line-height: 60px;

    background-color: var(--color-white);
    border-radius: 50%;

    font-size: 10px;
    color: var(--color-black);
    text-align: center;
}

.card-footer .footer-bot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 15px;
    align-items: center;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-top: none;
}

.card-footer .btn-footer {
    padding: 2px 6px;
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    transition: all 0.5s;
}

.card-footer .btn-footer:hover {
    text-decoration: none;
    background-color: var(--color-green-blue);
}

.card-header img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
}

.card-header {
    padding: 0;
    border-bottom: 0;
    background-color: transparent;
    position: relative;
}

.card-footer {
    background: transparent;
    padding: 0;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 8px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: var(--color-white);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s;
    cursor: pointer;
}

.card-body {
    padding: 20px 15px;
    font-size: 16px;
    border-left: 1px solid rgba(153, 153, 153, 0.2);
    border-right: 1px solid rgba(153, 153, 153, 0.2);
}

.card-body h5 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.card-body p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.8;
}

.card-body .card-title{
    font-weight: 600;
}

.card-footer {
    border: none;
}

.modal .modal-body p {
    font-weight: bold;
}

.modal .modal-header {
    background-color: var(--color-green);
    padding: 10px 1em;
    color: var(--color-white);
}

.modal .modal-header button:focus {
    outline: none;
}

/*
=============================================
                    HEADER
=============================================
*/
header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    background-color: transparent;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);

    z-index: 20;
    transition: all .5s;
}

header .navbar {
    padding: 0;
}

header .navbar-brand img {
    width: 80px;
}

.navbar-collapse {
    flex-grow: unset;
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.navbar-toggler-icon i {
    font-size: 27px;
    color: var(--color-green-blue);
    visibility: hidden;
}

.navbar-toggler-icon .icon-close {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar-toggler-icon i.active {
    visibility: visible;
}

.nav-link {
    position: relative;

    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
    text-align: center;

    margin-right: 11px;

    transition: all .5s;
}

.dropdown-menu {
    background-color: var(--color-bg-1);
    border: 0;
}

.dropdown-item {
    color: var(--color-text-1);
}

.header__mode {
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__mode i {
    position: absolute;
    left: 0;
    top: 0;

    color: var(--color-white);

    cursor: pointer;
    visibility: hidden;

    transition: color .5s;
}

.header__mode .mode-light.active,
.header__mode .mode-dark.active {
    visibility: visible;
}

.header__mode i:hover {
    color: var(--color-primary);
}

.navbar-nav .nav-item:hover .nav-link {
    color: var(--color-primary);
    opacity: 1;
}

.navbar-nav .nav-item:hover .nav-link::before {
    width: 100%;
}

.nav-link.active {
    color: var(--color-primary);
}

#header.scrolled {
    background-color: var(--color-white);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);


    z-index: 99;
}

#header.scrolled .nav-link,
#header.scrolled .header__mode i,
#header.show .nav-link,
#header.show .header__mode i,
#header.show .navbar-toggler-icon {
    color: var(--color-text-1);
}

#header.scrolled .nav-link.active,
#header.scrolled .nav-link:hover {
    color: var(--color-primary);
}

#header.show {
    background-color: var(--color-bg-2);
    z-index: 99;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: var(--color-primary);
}

/* Toggle Dark Theme */

#header.dark-theme.scrolled {
    background-color: var(--color-bg-2);
    border-bottom: none;
}

/*
=============================================
                    CAROUSEL
=============================================
*/
.carousel1 .carousel-inner {
    height: 800px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    bottom: 10%;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    border-top: 0;
    border-bottom: 0;

    transition: all .5s;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    padding-top: 0;

    text-align: left;
}

.carousel-caption h1 {
    font-size: 60px;
    font-weight: 200;
    color: var(--color-white);
    line-height: 1.2;

    margin-bottom: 24px;
}

.carousel-caption h1 strong {
    font-weight: 700;
}

.carousel-caption p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.carousel-indicators li:hover {
    opacity: 1;
}

/*
=============================================
                    SERVICES
=============================================
*/
.services {
    background-color: var(--color-bg-2);
}

.services__item {
    /* min-height: 200px; */

    padding: 25px;
    border-radius: 2px;
    /* margin-bottom: 40px; */

    background-color: var(--color-bg-1);
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 3%);

    transition: all .5s;
}

.services__header {
    font-size: 60px;
    color: var(--color-primary);

    transition: all .5s;
}

.services__body h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-text-1);
    line-height: 1.5;

    transition: all .5s;
}

.services__body p {
    font-size: 16px;
    color: var(--color-text-1);

    transition: all .5s;
}

.services .container {
    position: relative;
    margin-top: -120px;

    z-index: 2;
}

.services__item:hover {
    background-color: var(--color-primary);
}

.services__item:hover .services__header {
    color: var(--color-white);
}

.services__item:hover .services__body h3 {
    color: var(--color-white);
}

.services__item:hover .services__body p {
    color: var(--color-white);
}

/*
=============================================
                    DESTINATION
=============================================
*/
.destination {
    background-color: var(--color-bg-1);
}

.destination__item {
    position: relative;
    margin-bottom: 30px;
    border: none;

    color: var(--color-text-1);
}

.destination__item h4 {
    font-size: 18px;
}

.destination__item p {
    font-size: 14px;
}

.destination__item img {
    height: 300px;
}

.destination__item .card-body {
    padding: 1em;
    border: 1px solid rgba(153, 153, 153, 0.2);

    background-color: var(--color-bg-1);
}

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #e6e6e6;

    margin: 5px;
    border-radius: 50%;

    position: relative;
}

.owl-carousel .owl-dots .owl-dot::after {
    content: "";
    width: 14px;
    height: 14px;

    border-radius: 50%;
    border: 1px solid #e6e6e6;

    position: absolute;
    top: -2px;
    left: -2px;
}

.owl-carousel .owl-dots .owl-dot.active {
    background-color: #b3b3b3;
}

.owl-nav {
    position: absolute;
    width: 100%;
    top: 25%;
}

.owl-carousel .owl-item img {
    object-fit: cover;
}

.owl-carousel .owl-nav {
    font-size: 50px;
    color: var(--color-primary);
    opacity: 0;

    transition: all .25s;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;

    transition: all .5s;
}

.owl-carousel .owl-nav .owl-prev {
    left: -30px;
}

.owl-carousel .owl-nav .owl-next {
    right: -30px;
}

.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-prev:focus {
    outline: none;
}

.owl-carousel:hover .owl-nav {
    opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
    left: -60px;
}

.owl-carousel:hover .owl-nav .owl-next {
    right: -60px;
}

.owl-carousel:hover .owl-nav {
    opacity: 1;
}

.destination__item:hover .readmore__icon {
    opacity: 1;
}

/*
=============================================
                    TOUR
=============================================
*/
.tour {
    background-color: var(--color-bg-2);
}

.tour__item.card {
    border: none;
}

.tour__item .card-body {
    border-left: 0;
    border-right: 0;
    border: 1px solid rgba(153, 153, 153, 0.2);

    background-color: var(--color-bg-2);
}

.tour__item img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.tour__desc {
    display: flex;
    justify-content: space-between;
}

.tour__desc h4 a {
    font-size: 18px;
    color: var(--color-text-1);
}

.tour__desc span {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-prize);
}

.tour__item .card-text {
    font-size: 14px;
    color: var(--color-text-1);
    margin-bottom: 1rem;
}

.tour__item .tour__time {
    font-size: 13px;
    color: var(--color-text-1);
    margin-bottom: 1rem;
}

.tour__item .card-footer {
    border-top: 0;

    background-color: var(--color-bg-2);
}

.tour__discover {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgba(153, 153, 153, 0.2);
    padding: 1rem 0 0;
}

.tour__discover p {
    font-size: 14px;
    color: var(--color-text-1);

    margin-bottom: 0;
}

.tour__discover a {
    padding: 3px 5px;
    border-radius: 4px;
    background-color: #8bc34a;

    font-size: 14px;
    color: var(--color-white);
    
}

.tour__item .readmore__icon {
    top: 25%;
}

.tour__item:hover .readmore__icon {
    opacity: 1;
}

/*
=============================================
                    NUMBERS
=============================================
*/
.numbers {
    background-image: url(../Images/pic1.webp);
    background-size: cover;
    background-position: center;

    position: relative;
    color: var(--color-white);
    z-index: 0;
}

.numbers::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background-image: linear-gradient(135deg, #2ebdc4 0%, #68e5b2 100%);
    opacity: 0.9;
    z-index: -1;
}

.numbers.inner-section {
    padding: 7em 0;
}

.numbers__title h2 {
    font-size: 40px;
    font-weight: 300;
}

.numbers__title .subheading {
    color: rgba(255, 255, 255, 0.9);
}

.numbers__text h4 {
    font-size: 30px;
    font-weight: 400;
}

.numbers__text span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

/* ===HOTEL=== */
#hotel {
    background-color: var(--color-bg-1);
}

.hotel-item hr {
    width: 90%;
    margin: auto;
}

.hotel-item {
    animation-duration: 2s;
}

.hotel-item .card-body a:hover {
    color: var(--color-primary);
}

.hotel-destination {
    margin: 0 auto;
}

.hotel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.hotel-item .card-body h5 {
    color: var(--color-text-1);
}

.hotel-item .card-body p {
    color: var(--color-text-1);
}

.hotel-item .card-body .hotel-title p {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 600;
}

.hotel-item .card-footer .footer-bot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 15px;
    align-items: center;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-top: none;
}

.hotel-item .footer-bot p {
    color: var(--color-text-1);
}

.hotel-item .card-footer .footer-bot .btn-hotel {
    padding: 4px 8px;
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 5px;
    transition: all 0.5s;
}

.hotel-item .card-footer .footer-bot .btn-hotel:hover {
    text-decoration: none;
    background-color: var(--color-green-blue);
}

.hotel .hotel-item:hover .icon {
    opacity: 1;
}

.hotel-content {
    margin-top: 70px;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: space-between;
    }
}

/* ===video=== */
.video {
    background-color: var(--color-bg-2);
}

.video video {
    width: 100%;
    height: 100%;
}

/* ===FEEDBACK=== */
.feedback {
    background-color: var(--color-bg-1);
}

.feedback-title {
    margin-bottom: 40px;
}

.feedback-content {
    width: 95%;
    margin-bottom: 40px;

    color: var(--color-text-1);
}

.btn-feedback {
    border: 1px solid var(--color-primary);
    padding: 10px 20px;
    color: var(--color-primary);
    background-color: transparent;
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.5s;
}

.btn-feedback:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border: 1px solid transparent;
}

.feedback-wrap {
    background: var(--color-bg-1);
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 3%);
    position: relative;
    padding: 0 30px;
}

.feedback-wrap .user-img img {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
}

.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.feedback-wrap .text .text-top {
    color: var(--color-text-1);
}

.feedback-wrap .text .text-bottom {
    margin-top: 40px;
    color: var(--color-text-1);
    font-weight: 600;
    font-size: 16px;
}

.feedback-wrap .text .adress {
    font-size: 13px;
    color: var(--color-text-1);
}



#carousel-feedback .carousel-item {
    /* animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    visibility: visible; */
    overflow: visible;
}

#carousel-feedback .carousel-control-prev-icon,
#carousel-feedback .carousel-control-next-icon {
    background-image: none;
    color: var(--color-primary);
    font-size: 20px;
    transition: all 0.7s;
    opacity: 0;
    z-index: 100;
}

#carousel-feedback.carousel:hover .carousel-control-prev-icon {
    transform: translateX(-60px);
    opacity: 1;
}

#carousel-feedback.carousel:hover .carousel-control-next-icon {
    transform: translateX(60px);
    opacity: 1;
}

#carousel-feedback .carousel-control-next,
#carousel-feedback .carousel-control-prev {
    border: none;
    background-color: transparent;
}

#carousel-feedback .carousel-indicators li {
    background-color: var(--color-text);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 15px;
}

#carousel-feedback .carousel-indicators {
    bottom: -50px;
}

/* ===RESTAURANTS=== */
.rest {
    background-color: var(--color-bg-2);
}

.rest-item hr {
    width: 90%;
    margin: auto;
}

.rest .card-body h5 {
    color: var(--color-text-1);
}

.rest .card-body p {
    color: var(--color-text-1);
}

.rest .footer-bot p {
    color: var(--color-text-1);
}

.rest .rest-item:hover .icon {
    opacity: 1;
}

.rest-content {
    margin-top: 70px;
}

/* ===BLOG=== */
.blog {
    background-color: var(--color-bg-1);
}

.blog-content {
    margin-top: 70px;
}

.blog .card-header img {
    height: 250px;
}

.blog .card-body h5 {
    color: var(--color-text-1);
    font-size: 14px;
    font-weight: 400;
}

.blog .card-body a {
    color: var(--color-text-1);
    font-weight: 600;
    font-size: 18px;
    transition: all 0.5s;
}

.blog .card-footer p {
    color: var(--color-text-1);
}

.blog .card-body a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

/* ===FAQ=== */
.FAQ {
    background-color: var(--color-bg-2);
}

.FAQ-content {
    width: 80%;
    margin: 50px auto 0;

}

.FAQ-title {
    color: var(--color-text-1);
}

.FAQ .card-header .faq-btn {
    font-weight: bold;
    padding: 15px 15px;
}

.FAQ .card-header .btn-light:focus {
    box-shadow: none;
}

.FAQ .card,
.FAQ .card-header .faq-btn,
.FAQ .card-body {
    border: none;

}

.FAQ .card-body {
    padding-bottom: 15px;
    background-color: var(--color-bg-2);

    color: var(--color-text-1);
}

.FAQ .card-header h2 button {
    position: relative;
}

.FAQ .card-header .icon-faq {
    position: absolute;
    bottom: 12px;
    right: 20px;
    font-size: 20px;
    transition: all 0.25s;
}

.FAQ .card-header .btn-light:focus .icon-faq {
    transform: rotate(180deg);
}

.FAQ .card-header .btn-light.collapsed:focus .icon-faq {
    transform: rotate(0deg);
}

.FAQ .card-header{
border-left: 5px solid var(--color-green);
border-radius: 5px !important;

}

/* ===MAP=== */
.map {
    background-color: var(--color-bg-1);
    /* height: 450px; */
}

/* ===FOOTER=== */
footer {
    background-color: var(--color-bg-footer);
    color: var(--color-white);
}

footer .footer-heading {
    margin-bottom: 20px;
}

footer .footer-heading img {
    width: 85px;
}

footer .heading-2 {
    height: 85px;
    display: flex;
    align-items: center;
}

footer .heading-2 h4 {
    margin-bottom: 0;
}

.footer-body span {
    margin-right: 5px;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
    font-weight: 400;
}

footer a:hover {
    text-decoration: none;
    color: var(--color-white);
}

footer li.email {
    display: inline-flex;
    align-items: center;
}

footer li.email a {
    display: inline-block;
    width: 100%;

    overflow: hidden;
    /* text-overflow: ellipsis; */
}

footer li {
    margin-bottom: 15px;
}

.footer-socials i {
    font-size: 25px;
    margin-right: 10px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
}

.footer-bottom {
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
}

.footer-bottom span {
    color: var(--color-green);
}

/* BACK TOP TOP */
.backtotop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #ffffff;
    background-color: #F55F8D;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }

/*
=============================================
                    RESPONSIVE
=============================================
*/
@media (max-width: 1500px) {

    /* TOUR */
    .tour__list {
        padding: 0 4em;
    }

    .tour__item {
        margin-bottom: 20px;
    }

    /* HOTEL */
    .hotel-destination {
        padding: 0 3em;
    }

    .hotel-item {
        padding: 0 1em;
        margin-bottom: 20px;
    }

    /* FEEDBACK */
    .feedback-wrap .user-img img {
        width: 6em;
        height: 6em;
    }

    .feedback-wrap {
        padding: 0 30px;
    }
}

@media (max-width: 1250px) {

    /* CAROUSEL */
    .carousel1 .carousel-inner {
        height: 650px;
    }

    /* SERVICES */
    .services__item {
        min-height: 200px;
        margin-bottom: 20px;
    }

    .services__header {
        font-size: 45px;
    }

    .services__body p {
        font-size: 16px;
    }

    /* DESTINATION */
    .destination {
        overflow: hidden;
    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        visibility: hidden;
    }

    /* TOUR */
    .tour__list {
        padding: 0 1em;
    }

    /* HOTEL */
    .hotel-destination {
        padding: 0;
    }

    /* REST */
    .rest .card-body h5 {
        font-size: 18px;
    }

    /* FOOTER */
    footer li.email a {
        width: 75%;
    }
}

@media (max-width:992px) {

    /* HEADER */
    .navbar-expand-lg {
        justify-content: space-between;
    }

    .header__mode {
        position: absolute;
        top: 36px;
        right: 50px;
    }

    /* CAROUSEL */
    .carousel-control-prev {
        left: -25px;
    }

    .carousel-control-next {
        right: 25px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        z-index: 10;
    }

    .carousel1 .carousel-inner {
        height: 500px;
    }

    .carousel-caption {
        left: 0;
        right: 0;
    }

    /* FEEDBACK */
    .feedback-wrap .user-img img {
        width: 5em;
        height: 5em;
    }

    /* OTHER SECTION */
    .rest-item,
    .blog-item {
        margin-bottom: 20px;
    }

    /* FOOTER */
    footer li.email a {
        width: 100%;
    }
}

@media (max-width: 850px) {

    /* CAROUSEL */
    .carousel-control-next,
    .carousel-control-prev {
        visibility: hidden;
    }

    .carousel-caption h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .carousel-caption p {
        font-size: 18px;
    }

    /* FEEDBACK */
    .feedback-content {
        font-size: 14px;
        width: 100%;

        margin-bottom: 20px;
    }

    .feedback-wrap .text .text-top {
        font-size: 14px;
    }
}

@media (max-width:768px) {

    /* HEADER */
    header .navbar-brand img {
        width: 60px;
    }

    .header__mode {
        top: 28px;
    }

    /* CAROUSEL */
    .carousel-indicators li {
        width: 10px;
        height: 10px;
    }

    /* SERVICES */
    .services__item {
        min-height: 220px;
        margin-bottom: 20px;
    }

    .services__header {
        font-size: 45px;
    }

    .services__body p {
        font-size: 16px;
    }

    /* FEEDBACK */
    .feadback-item {
        margin-bottom: 40px;
    }

    .feedback-title {
        margin-bottom: 30px;
    }

    .feadback-item .button {
        text-align: center;
    }

    .feedback-wrap .user-img img {
        width: 7em;
        height: 7em;
    }

    .feedback-wrap .text .adress {
        font-size: 12px;
    }

    .feedback-wrap .text .text-bottom {
        margin-top: 12px;
    }
}

@media (max-width:500px) {

    /* CAROUSEL */
    .navbar-toggler-icon i {
        font-size: 20px;
    }

    .carousel1 .carousel-inner {
        height: 300px;
    }

    .carousel-indicators li {
        width: 8px;
        height: 8px;
    }

    .carousel-caption h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .carousel-caption p {
        font-size: 14px;
    }

    /* SERVICES */
    .services__item {
        min-height: 200px;
    }

    .services__header {
        font-size: 36px;
    }

    .services__body p {
        font-size: 14px;
    }

    /* NUMBERS */
    .numbers__title h2 {
        font-size: 36px;
    }

    .numbers__text h4 {
        font-size: 26px;
    }

    .numbers__text span {
        font-size: 14px;
    }

    /* FEEDBACK  */
    .feedback-wrap .user-img img {
        width: 5em;
        height: 5em;
    }
}

/* CUSTOM CLASS BS4 */
@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 1500px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
    }
}